---
import Layout from '@/components/Layout.astro';
import placeholder from '@/assets/images/placeholder.svg';
import { site } from '@/consts';
import { Image } from 'astro:assets';
---

<Layout>
  <main class="flex min-h-screen flex-col items-center justify-center">
    <h1 class="mb-8 mt-16 text-4xl font-bold">
      {site.title}
    </h1>
    <p class="mb-8 text-lg">
      {site.description}
    </p>
    <Image src={placeholder} alt="placeholder" class="rounded-2xl" />
  </main>
</Layout>

<script>
  import { main } from '@/assets/scripts/main';
  main();
</script>
