---
import Layout from '@/components/Layout.astro';
import { site } from '@/consts';
---

<Layout>
  <h1>{site.title}</h1>
  <p>{site.description}</p>
</Layout>

<style>
  h1 {
    @apply mb-8 mt-16 text-center text-4xl font-bold;
  }
  p {
    @apply text-center text-lg;
  }
</style>
