---
import Layout from "@/layouts/Layout.astro";
import horizon from "@/assets/images/horizon.jpg";
import { Image } from "astro:assets";
import { site } from "@/consts";
---

<Layout>
  <main class="flex min-h-screen flex-col items-center justify-center bg-slate-900 text-slate-300">
    <Image src="/favicon.svg" alt="placeholder" class="rounded-2xl" height={200} width={200} />
    <p class="mb-8 text-lg">
      {site.description}
    </p>
    <Image src={horizon} alt="placeholder" class="rounded-2xl" />
  </main>
</Layout>

<script>
  import { main } from "@/assets/scripts/main";
  main();
</script>
